.card{
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background: cornflowerblue;
}

.linea{
    //margin-left: 5px;
    font-weight: bold;
    font-size: medium;
}

.boton-editar{
    background: goldenrod;
    border: none;
    padding: 6px;
    margin-right: 5px;
}

.boton-borrar{
    background: rgba(255, 0, 0, 0.713);
    border: none;
    padding: 6px;
}

.contenedor-botones{
    display: flex;
    justify-content: center;
}